.wrapper2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd   hd   hd   hd   hd   hd"
        "main main main main main main main sd sd"
        "ft ft ft ft   ft   ft   ft   ft   ft";
}

h2 {
    text-align: center;
    display: inline-block;
    font-family: 'Cormorant SC', serif;
    font-size: 2.3rem;
    margin: 2rem 0;
}

h5 {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    margin: 0.4rem 0;
    font-size: 1.4rem;
}

h7 {
    text-align: right;
    display: block;
    font-size: 1rem;
    font-family: 'Cormorant SC', serif;
}

#sidebar {
    grid-area: sd;
    font-family: 'Cormorant SC', serif;
    font-size: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #a8bcdb;
    margin-left: 1rem;


}



.aboutblog {
    height: 10rem;
    width: 90%;
    margin: 30% 5%;
}

.aboutblog p {
    padding: 0.5rem;
    text-decoration: underline;
}

.shortcut {
    height: 11rem;
    margin: 5%;
    border: 2px solid #6b85b6;
    border-radius: 0.3rem;
    padding: 2rem 0 2rem 0;

}


.mainpost {
    text-align: center;
}

.mainpost p {
    text-align: justify;
    text-indent: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
}

h9 {
    margin-top: 1rem;
    text-align: center;
    font-family: 'Cormorant SC', serif;
    margin: 0.4rem 0;
    font-size: 1rem;
    display: block;
}

.authorphoto {
    vertical-align: middle;
    width: 12rem;
    height: 15rem;
    position: relative;
    top: 5%;
    justify-content: center;
    margin: 5% 0;
}

.authorphotobox {
    box-shadow: 0 4px 8px 0 #2b256e;
    transition: 0.3s;
    height: 18rem;
}

.authorinfo {
    margin-left: 2rem;
    margin-right: 1rem;
}

.authorbox {
    font-family: 'Cormorant SC', serif;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nameschool {
    display: flex;
    justify-content: space-between;
}

.socialtitle {
    display: inline;
    font-size: 1.1rem;

}

.social {
    display: inline;
}

.socialbox {
    text-align: left;
}


@media (max-width:800px) {

    .wrapper2 {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas:
            "hd hd hd hd   hd   hd   hd   hd   hd"
            "main main main main main main main main main"
            "sd sd sd sd sd sd sd sd sd"
            "ft ft ft ft   ft   ft   ft   ft   ft";
    }

    #sidebar {
        grid-area: sd;
        font-family: 'Cormorant SC', serif;
        font-size: 1rem;
        text-align: center;
        display: flex;
        flex-direction: row;
        background-color: #a8bcdb;
        width: 100%;
        margin: 0;
    }

    #foot {
        grid-area: ft;
        padding: 1rem 0;
        margin: 0.25rem 0;
        text-align: end;
        font-family: 'Ibarra Real Nova', serif;
        background-color: #6b85b6;
        width: 100%;
    }


    .authorbox {
        font-family: 'Cormorant SC', serif;
        font-size: 1rem;
        display: flex;
        flex-direction: column;

    }

}