html {
    background-color: aliceblue;
    margin: 0 10%;
    font-size: 20px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "hd hd hd hd   hd   hd   hd   hd   hd"
        "main main main main main main main main main"
        "ft ft ft ft   ft   ft   ft   ft   ft";
}


#header_img {
    width: 60%;
    height: 60%;
    background-image: url(https://img.myloview.com/posters/orange-pomeranian-dog-sleeping-smile-700-119332490.jpg);
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}